.app-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
}
.search-style {
  display: flex;
  justify-content: center;
  align-items: center;
}
.style-img {
  height: 40px;
  width: 40px;
}
.image-style {
  width: 300px;
}
